*BUTTON         &btnSplitBarY
DESCRIPTION     Splitbar Y button
INHERIT         C&ustom Size/Color
AUTO-GO         NO
AUTO-END-KEY    NO
DEFAULT-BTN     NO
DEFAULT-STYLE   NO
LABEL           OK
NAME            btnSplitBarY
IMAGE           "bmp/tabup.bmp":U 
NO-FOCUS 	YES
MOVEABLE	YES
FLAT-BUTTON  	YES
TRIGGER END-MOVE
DO:
  DYNAMIC-FUNCTION("setSplitBarY",CURRENT-WINDOW,btnSplitBarY:HANDLE IN FRAME {&FRAME-NAME},NO).
  APPLY "window-resized" TO {&WINDOW-NAME}.
END.
END TRIGGER
